---
import MainLayout from "@/layouts/MainLayout.astro"
import Footer from "@/components/Footer.astro"
import LssnArt from "@/components/LssnArt.astro"
import ChaptrSect from "@/components/ChaptrSect.astro"
import ChaptrSubSect from "@/components/ChaptrSubSect.astro"
---
<MainLayout>
  <LssnArt artClass="lssn__13" h2Title="Matrices" slot="mainContent">
    <ChaptrSect h3Title="Bi-dimensionales" codeText="">
      <ChaptrSubSect h4Title="Declaraci籀n" codeText="">
        <p class="chaptrSubSect__p">Una matriz bidimensional (tambi矇n conocida como tabla o grid) puede pensarse como un array que contiene varios arrays, y estos arrays internos representan las filas. Cada fila puede contener m繳ltiples valores, que se corresponden con las columnas</p>
        <pre class="chaptrSubSect__console">
          <span class="commnt">Declaraci籀n de la matriz 2D</span>
          <span class="key">let</span> <span class="var">matriz</span> <span class="opera">=</span> <span class="warp">[
            [<span class="nums">1, 2, 3</span>],  <span class="commnt">Fila 0</span>
            [<span class="nums">4, 5, 6</span>],  <span class="commnt">Fila 1</span>
            [<span class="nums">7, 8, 9</span>]   <span class="commnt">Fila 2</span>
          ]</span>;

          <span class="commnt">Acceso a elementos</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span>(<span class="var">matriz</span><span class="warp">[<span class="nums">0</span>][<span class="nums">0</span>]</span>)</span>;   <span class="result">1</span>   <span class="commnt">fila 0, columna 0</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span>(<span class="var">matriz</span><span class="warp">[<span class="nums">1</span>][<span class="nums">2</span>]</span>)</span>;   <span class="result">6</span>   <span class="commnt">fila 1, columna 2</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span>(<span class="var">matriz</span><span class="warp">[<span class="nums">2</span>][<span class="nums">1</span>]</span>)</span>;   <span class="result">8</span>   <span class="commnt">fila 2, columna 1</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="Creaci籀n din獺micamente" codeText="">
        <p class="chaptrSubSect__p">Puedes crear una matriz 2D de forma din獺mica utilizando varios m矇todos. El m獺s eficiente es con el ciclo <code>for</code></p>
        <pre class="chaptrSubSect__console">
          <span class="commnt">Usando bucle for</span>
          <span class="key">let</span> <span class="var">rows</span> <span class="opera">=</span> <span class="nums">3</span>;
          <span class="key">let</span> <span class="var">cols</span> <span class="opera">=</span> <span class="nums">4</span>;
          <span class="key">let</span> <span class="var">matrix</span> <span class="opera">=</span> <span class="key">new</span> <span class="func">Array</span><span class="warp">(<span class="var">rows</span>)</span>;

          <span class="func">for</span> <span class="warp">(<span class="key">let</span> <span class="params">i</span> <span class="opera">=</span> <span class="nums">0</span>; <span class="params">i</span> <span class="opera">&lt;</span> <span class="var">rows</span>; <span class="params">i</span><span class="opera">++</span>) &#123;
            <span class="var">matrix</span>[<span class="params">i</span>] <span class="opera">=</span> <span class="key">new</span> <span class="func">Array</span>(<span class="var">cols</span>)<span class="dot">.</span><span class="func">fill</span>(<span class="args">''</span>);   <span class="commnt">Rellena cada fila</span>
          &#125;</span>;

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="var">matrix</span>)</span>;
          <span class="result">[
            ['', '', '', ''],
            ['', '', '', ''],
            ['', '', '', '']
          ]</span></pre>
      </ChaptrSubSect>
    </ChaptrSect>
    <ChaptrSect h3Title="Multi-dimensionales" codeText="">
      <ChaptrSubSect h4Title="Declaraci籀n" codeText="">
        <p class="chaptrSubSect__p">Una matriz no tiene que ser estrictamente bidimensional; puede ser tridimensional o tener a繳n m獺s dimensiones. Simplemente ser穩a un array dentro de otro array, y as穩 sucesivamente</p>
        <pre class="chaptrSubSect__console">
          <span class="commnt">Declaraci籀n de la matriz 3D</span>
          <span class="key">let</span> <span class="var">matriz3D</span> <span class="opera">=</span> <span class="warp">[
            [
              [<span class="nums">1, 2</span>], [<span class="nums">3, 4</span>]
            ],
            [
              [<span class="nums">5, 6</span>], [<span class="nums">7, 8</span>]
            ]
          ]</span>;

          <span class="commnt">Acceso a elementos</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span>(<span class="var">matriz3D</span><span class="warp">[<span class="nums">0</span>][<span class="nums">1</span>][<span class="nums">1</span>]</span>)</span>;   <span class="result">4</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span>(<span class="var">matriz3D</span><span class="warp">[<span class="nums">1</span>][<span class="nums">0</span>][<span class="nums">0</span>]</span>)</span>;   <span class="result">5</span></pre>
      </ChaptrSubSect>
    </ChaptrSect>
  </LssnArt>
	<Footer slot="mainFooter" />
</MainLayout>