---
import MainLayout from "@/layouts/MainLayout.astro"
import Footer from "@/components/Footer.astro"
import LssnArt from "@/components/LssnArt.astro"
import ChaptrSect from "@/components/ChaptrSect.astro"
import ChaptrSubSect from "@/components/ChaptrSubSect.astro"
---
<MainLayout>
  <LssnArt artClass="lssn__21" h2Title="Fecha y Hora" slot="mainContent">
    <ChaptrSect h3Title="Creación" codeText="">
      <ChaptrSubSect h4Title="Sin argumentos" codeText="Date()">
        <p class="chaptrSubSect__p">Crea un objeto para la fecha y la hora actuales</p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">now</span> <span class="opera">=</span> <span class="key">new</span> <span class="func">Date</span><span class="warp">()</span>;

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Wed Sep 18 2024 15:05:42 GMT+0200</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="Desde un timeStamp" codeText="">
        <p class="chaptrSubSect__p">milisegundos pasados desde el 1 de enero de 1970</p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">dateFromTimeStamp</span> <span class="opera">=</span> <span class="key">new</span> <span class="func">Date</span><span class="warp">(<span class="nums">1727000000000</span>)</span>;

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">dateFromTimeStamp</span>)</span>;
          <span class="result">Sun Sep 22 2024 12:13:20 GMT+0200</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="Desde cadena de texto" codeText="">
        <p class="chaptrSubSect__p">Puedes crear una fecha a partir de una cadena de texto válida</p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">dateFromString</span> <span class="opera">=</span> <span class="key">new</span> <span class="func">Date</span><span class="warp">(<span class="args">'2024-09-18T15:00:00'</span>)</span>;

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">dateFromString</span>)</span>;
          <span class="result">Wed Sep 18 2024 15:00:00 GMT+0200</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="Especificando año, mes, dia, etc" codeText="">
        <p class="chaptrSubSect__p">Los meses en JavaScript son basados en cero, es decir, enero es el mes 0, febrero es 1, etc.</p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">dateFromString</span> <span class="opera">=</span> <span class="key">new</span> <span class="func">Date</span><span class="warp">(<span class="nums">2024, 8, 18, 15, 16, 0</span>)</span>;

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">dateFromString</span>)</span>;
          <span class="result">Wed Sep 18 2024 15:16:00 GMT+0200</span></pre>
      </ChaptrSubSect>
    </ChaptrSect>
    <ChaptrSect h3Title="Acceso a componentes" codeText="">
      <ChaptrSubSect h4Title="Obtener componentes" codeText=".get()">
        <p class="chaptrSubSect__p">De una fecha, devuelve el dato con el método asociado</p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">now</span> <span class="opera">=</span> <span class="key">new</span> <span class="func">Date</span><span class="warp">()</span>;

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getFullYear</span><span class="warp2">()</span>)</span>;
          <span class="result">2024</span>  <span class="commnt">Año</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getMonth</span><span class="warp2">()</span>)</span>;
          <span class="result">8</span>   <span class="commnt">Mes</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getDate</span><span class="warp2">()</span>)</span>;
          <span class="result">18</span>   <span class="commnt">Día del mes</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getDay</span><span class="warp2">()</span>)</span>;
          <span class="result">3</span>   <span class="commnt">Día de la semana</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getHours</span><span class="warp2">()</span>)</span>;
          <span class="result">21</span>   <span class="commnt">Horas</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getMinutes</span><span class="warp2">()</span>)</span>;
          <span class="result">36</span>   <span class="commnt">Minutos</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getSeconds</span><span class="warp2">()</span>)</span>;
          <span class="result">42</span>   <span class="commnt">Segundos</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getTime</span><span class="warp2">()</span>)</span>;
          <span class="result">1726689580142</span>   <span class="commnt">timeStamp desde 1970 en mls</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">getTimezoneOffset</span><span class="warp2">()</span>)</span>;
          <span class="result">-120</span>   <span class="commnt">Diferencia UTC</span></pre>
      </ChaptrSubSect>
    </ChaptrSect>
    <ChaptrSect h3Title="Estableciendo componentes" codeText="">
      <ChaptrSubSect h4Title="Estableciendo componentes" codeText=".set()">
        <p class="chaptrSubSect__p">Los siguientes métodos permiten establecer los componentes de fecha y hora, devuelven un <mark>timestamp</mark></p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">now</span> <span class="opera">=</span> <span class="key">new</span> <span class="func">Date</span><span class="warp">()</span>;
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Thu Sep 19 2024 22:03:43 GMT+0200</span>

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">setFullYear</span><span class="warp2">(<span class="nums">2000</span>)</span>)</span>;
          <span class="result">1600508077745</span>   <span class="commnt">Devuelve timeStamp</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Thu Sep 19 2000 22:03:43 GMT+0200</span>
          <span class="commnt">Nuevo año seteado</span>

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">setMonth</span><span class="warp2">(<span class="nums">0</span>)</span>)</span>;
          <span class="result">1705662756551</span>   <span class="commnt">Devuelve timeStamp</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Thu Jan 19 2024 22:03:43 GMT+0200</span>
          <span class="commnt">Nuevo mes seteado</span>

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">setDate</span><span class="warp2">(<span class="nums">1</span>)</span>)</span>;
          <span class="result">1705662756551</span>   <span class="commnt">Devuelve timeStamp</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Thu Sep 01 2024 22:03:43 GMT+0200</span>
          <span class="commnt">Nuevo día del mes seteado</span>

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">setHours</span><span class="warp2">(<span class="nums">00</span>)</span>)</span>;
          <span class="result">1705662756551</span>   <span class="commnt">Devuelve timeStamp</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Thu Sep 19 2024 00:03:43 GMT+0200</span>
          <span class="commnt">Nueva hora seteada</span>

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">setMinutes</span><span class="warp2">(<span class="nums">00</span>)</span>)</span>;
          <span class="result">1705662756551</span>   <span class="commnt">Devuelve timeStamp</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Thu Sep 19 2024 22:00:43 GMT+0200</span>
          <span class="commnt">Nuevos minutos seteados</span>

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">setSeconds</span><span class="warp2">(<span class="nums">00</span>)</span>)</span>;
          <span class="result">1705662756551</span>   <span class="commnt">Devuelve timeStamp</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Thu Sep 19 2024 22:03:00 GMT+0200</span>
          <span class="commnt">Nuevos segundos seteados</span>

          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span><span class="dot">.</span><span class="meth">setTime</span><span class="warp2">(<span class="nums">1726741560628</span>)</span>)</span>;
          <span class="result">1726741560628</span>   <span class="commnt">Establece timeStamp</span>
          <span class="obj">console</span><span class="dot">.</span><span class="meth">log</span><span class="warp">(<span class="obj">now</span>)</span>;
          <span class="result">Thu Sep 19 2024 22:03:00 GMT+0200</span>
          <span class="commnt">seteado timeStamp desde 1970</span></pre>
      </ChaptrSubSect>
    </ChaptrSect>
    <ChaptrSect h3Title="Medición y Beanchmarking" codeText="">
      <ChaptrSubSect h4Title="Tiempo transcurrido" codeText="Date.now()">
        <p class="chaptrSubSect__p">Si lo único que queremos es medir el tiempo transcurrido, no es necesario utilizar el constructor de <code>Date()</code>. Podemos utilizar el método especial Date.now() que nos devuelve el timestamp actual</mark></p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">start</span> <span class="opera">=</span> <span class="key">new</span> <span class="obj">Date</span><span class="dot">.</span><span class="meth">now</span><span class="warp">()</span>;

          <span class="func">for</span> <span class="warp">(<span class="key">let</span> <span class="params">i</span> <span class="opera">=</span> <span class="nums">0</span>;<span class="params">i</span> <span class="opera">&lt;</span> <span class="nums">5000000000</span>;<span class="params">i</span><span class="opera">++</span>) &#123;
            <span class="key">let</span> <span class="var">doSomething</span> <span class="opera">=</span> <span class="params">i <span class="opera">*</span> i <span class="opera">*</span> i</span>;
          &#125;</span>;

          <span class="key">const</span> <span class="var">end</span> <span class="opera">=</span> <span class="key">new</span> <span class="obj">Date</span><span class="dot">.</span><span class="meth">now</span><span class="warp">()</span>;

          <span class="obj">console</span><span class="meth">log</span><span class="warp">(<span class="args">`Pasaron $&#123;<span class="warp2">(<span class="var">end</span> <span class="opera">-</span> <span class="var">start</span>)</span> <span class="opera">/</span> <span class="nums">1000</span>&#125;seg`</span>)</span>;
          <span class="result">Pasaron 5.441seg</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="Beanchmarking" codeText="performance.now()">
        <p class="chaptrSubSect__p">Usando este método es más rápido debido a que no se produce ninguna conversión de tipo de dato</p>
        <pre class="chaptrSubSect__console">
          <span class="key">let</span> <span class="var">start</span> <span class="opera">=</span> <span class="obj">performance</span><span class="dot">.</span><span class="meth">now</span><span class="warp">()</span>;

          <span class="func">for</span> <span class="warp">(<span class="key">let</span> <span class="params">i</span> <span class="opera">=</span> <span class="nums">0</span>;<span class="params">i</span> <span class="opera">&lt;</span> <span class="nums">5000000000</span>;<span class="params">i</span><span class="opera">++</span>) &#123;
            <span class="key">let</span> <span class="var">doSomething</span> <span class="opera">=</span> <span class="params">i <span class="opera">*</span> i <span class="opera">*</span> i</span>;
          &#125;</span>;

          <span class="key">let</span> <span class="var">end</span> <span class="opera">=</span> <span class="obj">performance</span><span class="dot">.</span><span class="meth">now</span><span class="warp">()</span>;

          <span class="obj">console</span><span class="meth">log</span><span class="warp">(<span class="args">`La operación tardó $&#123;<span class="warp2">(<span class="var">end</span> <span class="opera">-</span> <span class="var">start</span>)</span> <span class="opera">/</span> <span class="nums">1000</span>&#125;seg`</span>)</span>;
          <span class="result">La operación tardó 5.441seg</span></pre>
      </ChaptrSubSect>
    </ChaptrSect>
    <ChaptrSect h3Title="Conversión" codeText="">
      <ChaptrSubSect h4Title="de String a timeStamp" codeText="Date.parse()">
        <p class="chaptrSubSect__p">El formato del string debe ser <code>YYYY-MM-DDTHH:mm:ss.sssZ</code> y devuelve un <mark>timestamp</mark></p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">timeStamp</span> <span class="opera">=</span> <span class="obj">Date</span><span class="dot">.</span><span class="meth">parse</span><span class="warp">(<span class="args">'1976-11-14T03:30'</span> )</span>;

          <span class="obj">console</span><span class="meth">log</span><span class="warp">(<span class="var">timeStamp</span>)</span>;
          <span class="result">216786600000</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="de timeStamp a fecha" codeText="new Date()">
        <p class="chaptrSubSect__p">Para pasar de un <mark>timeStamp</mark> a fecha</p>
        <pre class="chaptrSubSect__console">
          <span class="key">const</span> <span class="var">timeStamp</span> <span class="opera">=</span> <span class="obj">Date</span><span class="dot">.</span><span class="meth">parse</span><span class="warp">(<span class="args">'1976-11-14T03:30'</span> )</span>;

          <span class="key">let</span> <span class="var">dateResult</span> <span class="opera">=</span> <span class="key">new</span> <span class="obj">Date</span><span class="warp">(<span class="var">timeStamp</span>)</span>;

          <span class="obj">console</span><span class="meth">log</span><span class="warp">(<span class="var">dateResult</span>)</span>;
          <span class="result">Sun Nov 14 1976 03:30:00 GMT+0100</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="a fecha local con" codeText=".toLocaleDateString()">
        <p class="chaptrSubSect__p">Devuelve una cadena con una representación de la fecha (día, mes, año), sensible al idioma, en la zona horaria local del usuario. Puedes personalizar el formato de la fecha utilizando parámetros opcionales.</p>
        <pre class="chaptrSubSect__console">
          <span class="key">let</span> <span class="var">date</span> <span class="opera">=</span> <span class="key">new</span> <span class="obj">Date</span><span class="warp">()</span>;

          <span class="key">let</span> <span class="var">formattedData</span> <span class="opera">=</span> <span class="var">date</span><span class="dot">.</span><span class="meth">toLocaleDateString</span><span class="warp">(<span class="args">'es-ES', &#123;
            <span class="objProp">dateStyle</span>: 'full'
          &#125;</span>)</span>;

          <span class="obj">console</span><span class="meth">log</span><span class="warp">(<span class="var">formattedData</span>)</span>;
          <span class="result">jueves, 19 de septiembre de 2024</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="a fecha local con" codeText=".toLocaleString()">
        <p class="chaptrSubSect__p">Devuelve una cadena con una representación de la fecha (día, mes, año, hora), sensible al idioma, en la zona horaria local del usuario. Puedes personalizar el formato de la fecha utilizando parámetros opcionales.</p>
        <pre class="chaptrSubSect__console">
          <span class="key">let</span> <span class="var">date</span> <span class="opera">=</span> <span class="key">new</span> <span class="obj">Date</span><span class="warp">()</span>;

          <span class="key">let</span> <span class="var">formattedData</span> <span class="opera">=</span> <span class="var">date</span><span class="dot">.</span><span class="meth">toLocaleString</span><span class="warp">(<span class="args">'es-ES', &#123;
            <span class="objProp">dateStyle</span>: 'full', 
            <span class="objProp">timeStyle</span>: 'medium'
          &#125;</span>)</span>;

          <span class="obj">console</span><span class="meth">log</span><span class="warp">(<span class="var">formattedData</span>)</span>;
          <span class="result">jueves, 19 de septiembre de 2024 15:19:36</span></pre>
      </ChaptrSubSect>
    </ChaptrSect>
  </LssnArt>
	<Footer slot="mainFooter" />
</MainLayout>