---
import MainLayout from "@/layouts/MainLayout.astro"
import Footer from "@/components/Footer.astro"
import LssnArt from "@/components/LssnArt.astro"
import ChaptrSect from "@/components/ChaptrSect.astro"
import ChaptrSubSect from "@/components/ChaptrSubSect.astro"
---
<MainLayout>
  <LssnArt artClass="lssn__02" h2Title="Interacción con el usuario" slot="mainContent">
    <ChaptrSect h3Title="Mostrar información al usuario">
      <ChaptrSubSect h4Title="La función" codeText="alert()">
        <p class="chaptrSubSect__p">Muestra una ventana <mark>modal</mark> con un mensaje tipo <mark><b>String</b></mark>, y espera que el usuario presione <span class="bttn">Aceptar</span></p>
        <pre class="chaptrSubSect__console">
          <span class="func">alert</span><span class="warp">(</span><span class="args">"¿Deseas salir?"</span><span class="warp">)</span>;</pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="La función" codeText="prompt()">
        <p class="chaptrSubSect__p">Muestra una ventana <mark>modal</mark> con un mensaje de texto, un campo de entrada de datos para el usuario y los botones <span class="bttn">Ok</span> y <span class="bttn">Cancelar</span></p>
        <pre class="chaptrSubSect__console">
          <span class="key">let</span> <span class="var">age</span> <span class="opera">=</span> <span class="func">prompt</span><span class="warp">(</span><span class="args">"¿Cuántos años tienes?"</span>, <span class="nums">25</span><span class="warp">)</span>;
          <span class="func">alert</span><span class="warp">(</span><span class="args">`Tienes <span class="key">$&#123;<span class="var">age</span>&#125;</span> años!`</span><span class="warp">)</span></pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="La función" codeText="confirm()">
        <p class="chaptrSubSect__p">Muestra una ventana <mark>modal</mark> con un mensaje de texto, y los botones <span class="bttn">Ok</span> y <span class="bttn">Cancelar</span>. El resultado es <code>true</code> si se pulsa <span class="bttn">Ok</span>, y <code>false</code> si se pulsa <span class="bttn">Cancelar</span></p>
        <pre class="chaptrSubSect__console">
          <span class="key">let</span> <span class="var">eresElJefe</span> <span class="opera">=</span> <span class="func">confirm</span><span class="warp">(</span><span class="args">"¿Eres el jefe?"</span><span class="warp">)</span>;
          <span class="result">true</span>          <span class="commnt">si pulsas Ok</span></pre>
      </ChaptrSubSect>
    </ChaptrSect>
  </LssnArt>
	<Footer slot="mainFooter" />
</MainLayout>