---
import MainLayout from "@/layouts/MainLayout.astro"
import Footer from "@/components/Footer.astro"
import LssnArt from "@/components/LssnArt.astro"
import ChaptrSect from "@/components/ChaptrSect.astro"
import ChaptrSubSect from "@/components/ChaptrSubSect.astro"
---
<MainLayout>
  <LssnArt artClass="lssn__13" h2Title="Matrices" slot="mainContent">
    <ChaptrSect h3Title="Bi-dimensionales" codeText="">
      <ChaptrSubSect h4Title="Declaración" codeText="">
        <p class="chaptrSubSect__p">Una matriz bidimensional (también conocida como tabla o grid) puede pensarse como un array que contiene varios arrays, y estos arrays internos representan las filas. Cada fila puede contener múltiples valores, que se corresponden con las columnas</p>
        <pre class="chaptrSubSect__console wScript">
          /*/º Declaración de una matriz 2D º/*/
          let ·matriz = [
            [¬1, ¬2, ¬3],       /*/º Fila 0 º/*/
            [¬4, ¬5, ¬6],       /*/º Fila 1 º/*/
            [¬7, ¬8, ¬9]        /*/º Fila 2 º/*/
          ];

          /*/º Acceso a elementos º/*/
          console.log(·matriz[¬0][¬1]);   ⋗ 2       /*/º Fila 0, Columna 1 º/*/
          console.log(·matriz[¬2][¬0]);   ⋗ 7       /*/º Fila 2, Columna 0 º/*/
          console.log(·matriz[¬1][¬2]);   ⋗ 6       /*/º Fila 1, Columna 2 º/*/</pre>
      </ChaptrSubSect>
      <ChaptrSubSect h4Title="Creación dinámicamente" codeText="">
        <p class="chaptrSubSect__p">Puedes crear una matriz 2D de forma dinámica utilizando varios métodos. El más eficiente es con el ciclo <code>for</code></p>
        <pre class="chaptrSubSect__console wScript">
          /*/º Creación dinámica de una matriz 2D º/*/
          let ·filas = ¬3;
          let ·columnas = ¬4;
          let ·matrizDinamica = [];

          for (let #i = ¬0; #i &lt; ·filas; #i++) &#123;
            ·matrizDinamica[#i] = [];  /*/º Inicializa cada fila como un array vacío º/*/
            for (let #j = ¬0; #j &lt; ·columnas; #j++) &#123;
              ·matrizDinamica[#i][#j] = (#i * ·columnas) + #j + ¬1;  /*/º Asigna un valor basado en la posición º/*/
            &#125;
          &#125;

          console.log(·matrizDinamica);
          ⋗ /º [ º/
              /º [0, 1, 2, 3], º/
              /º [4, 5, 6, 7], º/
              /º [8, 9, 10, 11] º/
          /º ] º/</pre>
      </ChaptrSubSect>
    </ChaptrSect>
    <ChaptrSect h3Title="Multi-dimensionales" codeText="">
      <ChaptrSubSect h4Title="Declaración" codeText="">
        <p class="chaptrSubSect__p">Una matriz no tiene que ser estrictamente bidimensional; puede ser tridimensional o tener aún más dimensiones. Simplemente sería un array dentro de otro array, y así sucesivamente</p>
        <pre class="chaptrSubSect__console wScript">
          /*/º Declaración de una matriz 3D º/*/
          let ·matriz3D = [
            [                       /*/º Capa 0 º/*/
              [¬1, ¬2],            /*/º Fila 0 º/*/
              [¬3, ¬4]             /*/º Fila 1 º/*/
            ],
            [                       /*/º Capa 1 º/*/
              [¬5, ¬6],            /*/º Fila 0 º/*/
              [¬7, ¬8]             /*/º Fila 1 º/*/
            ]
          ];

          /*/º Acceso a elementos en una matriz 3D º/*/
          console.log(·matriz3D[¬0][¬1][¬0]);   ⋗ 3       /*/º Capa 0, Fila 1, Columna 0 º/*/
          console.log(·matriz3D[¬1][¬0][¬1]);   ⋗ 6       /*/º Capa 1, Fila 0, Columna 1 º/*/
          console.log(·matriz3D[¬1][¬1][¬1]);   ⋗ 8       /*/º Capa 1, Fila 1, Columna 1 º/*/</pre>
      </ChaptrSubSect>
    </ChaptrSect>
  </LssnArt>
	<Footer slot="mainFooter" prevPage="/lessons/lesson_12" nextPage="/lessons/lesson_11"/>
</MainLayout>

<!-- 
&lt;&gt;
&#123;&#125;
()&#123;&#125;
﹛﹜    Llaves no estiladas
﹕     2 puntos no estilizados
•parametro
·variable
#variable en Func/if/for
çObjetos
⋗ ∞Resultado
@funcion()
¬numbers
objProperty:
ºobjProperty
/* comentario */
'/º modo texto quita span º/'
<p class="chaptrSubSect__p">
<pre class="chaptrSubSect__console wScript">
<table class="chaptrSubSect__table">
<img class="chaptrSubSect__img" src=`${ruta}img13.webp` alt="captura del evento">
<ul class="chaptrSubSect__ul">
<li class="chaptrSubSectUl__li"></li>
＃
-->