---
import LinkLesson from "@/components/LinkLesson.astro"
---
<header class="header-NavMain header-NavMain--mod1">
  <h2 class="h2__main">El Lenguaje JavaScript</h2><p class="toggle-arrow">⇵</p>
</header>
<nav class="nav-main nav-main--mod1">
  <LinkLesson  page="/lessons/lesson_01/" descLesson="Ejecutando JavaScript">
    <ul>
      <li>Maneras de ejecutar JavaScript</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_02/" descLesson="Interacción con el usuario">
      <ul>
        <li>Mostrar información al usuario</li>
      </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_03/" descLesson="Tipos de datos">
      <ul>
        <li>Number</li>
        <li>BigInt</li>
        <li>Infinity</li>
        <li>String</li>
        <li>Boolean</li>
        <li>Null</li>
        <li>Undefined</li>
        <li>Object</li>
        <li>Symbol</li>
        <li>Iteracción String</li>
        <li>Métodos String</li>
        <li>Operador typeof</li>
      </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_04/" descLesson="Conversión de tipos">
    <ul>
      <li>to String</li>
      <li>to Number</li>
      <li>to Booolean</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_05/" descLesson="Otros operadores">
    <ul>
      <li>Resto %</li>
      <li>Exponenciación</li>
      <li>Asignacion +</li>
      <li>Incremento ++</li>
      <li>Decremento --</li>
      <li>Sufijo</li>
      <li>Prefijo</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_06/" descLesson="Comparaciones">
    <ul>
      <li>Buscar igualdad</li>
      <li>Buscar desigualdad</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_07/" descLesson="Condicionales">
    <ul>
      <li>if( )</li>
      <li>? (Ternario)</li>
      <li>switch</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_08/" descLesson="Operadores lógicos">
    <ul>
      <li>|| (or)</li>
      <li>&& (and)</li>
      <li>! (not)</li>
      <li>!! (doble-not)</li>
      <li>?? (nullish)</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_09/" descLesson="Bucles">
    <ul>
      <li>while</li>
      <li>do..while</li>
      <li>for</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_10/" descLesson="Funciones">
    <ul>
      <li>Creación</li>
      <li>Return</li>
      <li>Param vs Args</li>
      <li>Funciones flecha</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_25/" descLesson="Closures">
    <ul>
      <li>Explicación</li>
      <li>Ejemplos</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_12/" descLesson="Array-Like">
    <ul>
      <li>Symbol.iterator</li>
      <li>Llamada</li>
      <li>array-like</li>
      <li>array.from</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_13/" descLesson="Matrices">
    <ul>
      <li>Creación</li>
      <li>Acceso</li>
      <li>Iteración</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_11/" descLesson="Arrays">
    <ul>
      <li>Creación</li>
      <li>Acceso</li>
      <li>Adición</li>
      <li>Sutitución</li>
      <li>Eliminación</li>
      <li>Busqueda</li>
      <li>Sutitución</li>
      <li>Longitud</li>
      <li>Información</li>
      <li>Vaciado</li>
      <li>Sutitución</li>
      <li>Unión</li>
      <li>Ordenación</li>
      <li>Inversión</li>
      <li>Métodos</li>
      <li>Iteración</li>
      <li>Conversión</li>
      <li>Comparación</li>
      <li>Copia</li>
      <li>Destructuring</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_14/" descLesson="Objetos">
    <ul>
      <li>Creación</li>
      <li>Acceso a props</li>
      <li>Actualizar props</li>
      <li>Agregar props</li>
      <li>Borrar props</li>
      <li>Vaciado de objeto</li>
      <li>Buscar props</li>
      <li>Iteración en props</li>
      <li>Iteración en values</li>
      <li>Iteración en pares</li>
      <li>Copia de objetos</li>
      <li>Métodos de objetos</li>
      <li>La palabra this</li>
      <li>Reutilizacion métodos</li>
      <li>Función constructora</li>
      <li>Métodos constructor</li>
      <li>Transformar objetos</li>
      <li>El tipo Symbol</li>
      <li>Conversión a primitivo</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_15/" descLesson="Configuración props">
    <ul>
      <li>Indicadores</li>
      <li>Descriptores</li>
      <li>Getters</li>
      <li>Setters</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_16/" descLesson="Proto y herencia">
    <ul>
      <li>[[Prototype]]</li>
      <li>Object.create</li>
      <li>Constructor new</li>
      <li>function prototype</li>
      <li>Clases</li>
      <li>Herencia</li>
      <li>Instancias</li>
      <li>Aclaraciones</li>
      <li>Métodos modernos</li>
      <li>Objeto vacío</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_17/" descLesson="Maps">
    <ul>
      <li>Creación</li>
      <li>Agregar elementos</li>
      <li>Acceso elementos</li>
      <li>Existencia claves</li>
      <li>Elimina elemento</li>
      <li>Vaciado</li>
      <li>Tamaño</li>
      <li>Iteración</li>
      <li>Conversion</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_18/" descLesson="WeakMaps">
    <ul>
      <li>Creación</li>
      <li>Agregar elementos</li>
      <li>Acceso elementos</li>
      <li>Verifica elemento</li>
      <li>Elimina elemento</li>
      <li>Uso</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_19/" descLesson="Sets">
    <ul>
      <li>Creación</li>
      <li>Agregar elementos</li>
      <li>Existencia elemento</li>
      <li>Elimina elemento</li>
      <li>Vaciado</li>
      <li>Tamaño</li>
      <li>Iteración</li>
      <li>Conversiones</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_20/" descLesson="WeakSets">
    <ul>
      <li>Creación</li>
      <li>Agregar elementos</li>
      <li>Verifica elemento</li>
      <li>Elimina elemento</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_21/" descLesson="Fecha y Hora">
    <ul>
      <li>Creación</li>
      <li>Acceso componentes</li>
      <li>Estableciendo componentes</li>
      <li>Medición y Benchmarking</li>
      <li>Conversión</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_22/" descLesson="JSON">
    <ul>
      <li>Conversión a JSON</li>
      <li>Conversión de JSON</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_23/" descLesson="Clases">
    <ul>
      <li>Sintaxis</li>
      <li>Creación</li>
      <li>Miembros</li>
      <li>Herencia</li>
      <li>Comprobación</li>
      <li>Mixins</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_26/" descLesson="Callbacks">
    <ul>
      <li>Introducción</li>
      <li>Manejo errores</li>
      <li>Pirámide infernal</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_27/" descLesson="Promesas">
    <ul>
      <li>Definición</li>
      <li>Creación</li>
      <li>Consumidores</li>
      <li>Expresion vs Función</li>
      <li>Encadenamiento</li>
      <li>Ejemplo loadScript</li>
      <li>Devolviendo promesas</li>
      <li>Ejemplo fetch</li>
      <li>Manejo errores</li>
      <li>Promise API</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_28/" descLesson="Async/await">
    <ul>
      <li>Funciones async</li>
      <li>Await</li>
      <li>Manejo de Error</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_24/" descLesson="Manejo errores">
    <ul>
      <li>El bloque try & catch</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_29/" descLesson="Iteración avanzada">
    <ul>
      <li>Generadores</li>
      <li>Iter/Gen async</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_30/" descLesson="Módulos">
    <ul>
      <li>Introducción</li>
      <li>Export/import</li>
      <li>Dinámicos</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_31/" descLesson="Proxy & Reflect">
    <ul>
      <li>Proxy</li>
      <li>Reflect</li>
      <li>Limitaciones del proxy</li>
      <li>Proxy revocable</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_32/" descLesson="Otros temas">
    <ul>
      <li>Eval</li>
      <li>Currificación</li>
    </ul>
  </LinkLesson>
</nav>
<header class="header-NavMain header-NavMain--mod2">
  <h2 class="h2__main">El navegador: Documentos, Eventos e Interfaces</h2><p class="toggle-arrow">⇵</p>
</header>
<nav class="nav-main nav-main--mod2">
  <LinkLesson  page="/lessons/lesson_01b/" descLesson="Document">
    <ul>
      <li>Entorno navegador</li>
      <li>Arbol de nodos</li>
      <li>Recorriendo DOM</li>
      <li>Props de Node</li>
      <li>Window Methods</li>
      <li>Document Methods</li>
      <li>Node Methods</li>
      <li>Element Methods</li>
      <li>Atribs & props</li>
      <li>Estilos y clases</li>
      <li>Elements size</li>
      <li>Window size</li>
      <li>Coordenadas</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_02b/" descLesson="Introducción eventos">
    <ul>
      <li>Conceptos básicos</li>
      <li>Propagación/Captura</li>
      <li>Delegación eventos</li>
      <li>Default actions</li>
      <li>Eventos personalizados</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_03b/" descLesson="Eventos en la UI">
    <ul>
      <li>Eventos del Mouse</li>
      <li>Moviendo el Mouse</li>
      <li>Arrastrar y Soltar</li>
      <li>Eventos de puntero</li>
      <li>Eventos del Teclado</li>
      <li>Desplazamiento</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_04b/" descLesson="Formularios y controles">
    <ul>
      <li>Props y Métodos</li>
      <li>Foco</li>
      <li>Eventos</li>
      <li>Formularios</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_05b/" descLesson="Carga de Recursos">
    <ul>
      <li>Página</li>
      <li>Scripts</li>
      <li>Carga de recursos</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_06b/" descLesson="Temas diversos">
    <ul>
      <li>Mutation observer</li>
      <li>Selection y Range</li>
      <li>Loop de eventos</li>
    </ul>
  </LinkLesson>
</nav>
<header class="header-NavMain header-NavMain--mod3">
  <h2 class="h2__main">Articulos adicionales</h2><p class="toggle-arrow">⇵</p>
</header>
<nav class="nav-main nav-main--mod3">
  <LinkLesson  page="/lessons/lesson_01c/" descLesson="Marcos y Ventanas">
    <ul>
      <li>Emergentes y métodos</li>
      <li>Comunicación</li>
      <li>Secuestro clicks</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_02c/" descLesson="Binarios y Archivos">
    <ul>
      <li>Arrays binarios</li>
      <li>Decoder/Encoder</li>
      <li>Blob</li>
      <li>FileReader</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_03c/" descLesson="Solicitudes Red">
    <ul>
      <li>Fetch</li>
      <li>FormData</li>
      <li>Progreso descarga</li>
      <li>Abort</li>
      <li>Cross-Origin</li>
      <li>API</li>
      <li>Obj URL</li>
      <li>XMLHttpRequest</li>
      <li>Carga reanudable</li>
      <li>Sondeo largo</li>
      <li>WebSocket</li>
      <li>Eventos servidor</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_04c/" descLesson="Almacenamiento">
    <ul>
      <li>Cookies</li>
      <li>LocalStorage</li>
      <li>SessionStorage</li>
      <li>IndexedDB</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_05c/" descLesson="Animaciones">
    <ul>
      <li>Curva Bézier</li>
      <li>Animaciones css</li>
      <li>Animaciones Js</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_06c/" descLesson="Componentes Web">
    <ul>
      <li>Desde la altura</li>
      <li>Elem personalizados</li>
      <li>ShadowDom</li>
      <li>Elem Template</li>
      <li>Slots</li>
      <li>Estilos</li>
      <li>Eventos</li>
    </ul>
  </LinkLesson>
  <LinkLesson  page="/lessons/lesson_07c/" descLesson="Regexp">
    <ul>
      <li>Patrones/Flags</li>
      <li>Char clases</li>
      <li>Unicode</li>
      <li>Anclas</li>
      <li>Multilinea</li>
      <li>Límites</li>
      <li>Escapando</li>
      <li>Conjuntos/Rangos</li>
      <li>Cuantificadores I</li>
      <li>Cuantificadores II</li>
      <li>Grupos de captura</li>
      <li>Referencias inversas</li>
      <li>Alternancia</li>
      <li>Lookahead/behind</li>
      <li>Backtracking</li>
      <li>Indicador adhesivo</li>
      <li>Métodos</li>
    </ul>
  </LinkLesson>
</nav>